@charset "utf-8";

* {
    margin: 0;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid #db3d3d;
    background-color: #262626;
    color: #fff;
  }
  
  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  h1 {
    color: #fff;
    margin-right: 10px;
    font-size: 50px;
  }

  h2 {
    color: #fff;
    font-size: 27px;
    padding-top: 20px;
  }

  nav {
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  
  li {
    padding: 0 20px;
  }
  
  header li:not(:last-child) {
    border-right: 1px solid white;
  }


  header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;  
  }

  header a:hover {
    color: #db3d3d;
  }

  footer {
    background-color: #262626;
    color: #fff;
    font-size: 16px;
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 30px;
    flex-grow: 1;
    border-right: 1px solid white;
    padding-right: 50px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
    border-right: none;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-links a:hover {
    color: #db3d3d;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
  }
  
  .footer-bottom p {
    margin: 0;
  }

  .page-title {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
  }

  .page-title h1 {
    margin: 0;
    color: #333;
    font-size: 50px;
    border-bottom: 2px solid #ccc;
    width: 50%;
    text-align: center;
  }


  /* プロフィールセクション */
.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.container h3 {
  display: inline-block;
  font-weight: bold;
  color: #000000;
  background: linear-gradient(to right, #e6a2b6, #f6b17c);
  border-radius: 10px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
  font-size: 65px;
  margin-top: 15px;
  letter-spacing: 0.2em;
}

.trainer-profile-pic {
  width: 90%;
  border-radius: 50%;
  margin-right: 20px;
  height: 550px;
}

.info-history-interests-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trainer-tagline {
  background: linear-gradient(to right, #e6a2b6, #f6b17c);
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #000000;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  width: 97%;
  margin-left: 27px;
}

.history-section {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  color: #000000;
  background: linear-gradient(to right, #e6a2b6, #f6b17c);
  border-radius: 10px;
  margin: 30px 0 30px 0;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  width: 97%;
  margin-left: 27px;
}

.history-section h4 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
  text-indent: 1em;
}

.history-section h5 {
  font-size: 20px;
  margin-bottom: 10px;
  text-indent: 2.5em;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.history-section p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-indent: 4em;
  padding-bottom: 6px;
}

.interests-section {
  background-color: #f5f5f5;
  color: #000000;
  background: linear-gradient(to right, #e6a2b6, #f6b17c);
  border-radius: 10px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  width: 97%;
  margin-left: 27px;
}

.interests-section h4 {
  font-size: 30px;
  padding-top: 10px;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
  text-indent: 1em;
}

.interests-section p {
  font-size: 1.3em;
  text-indent: 4em;
  padding-bottom: 10px;
}

/* 資格セクション */
.credentials-section {
  width: 95%;
  height: 320px;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  background: linear-gradient(to right, #e6a2b6, #f6b17c);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.credentials-section h4 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-top: 15px;
}

.credentials-section p {
  font-size: 22px;
  line-height: 2;
  letter-spacing: 0.2em;
  margin-left: 100px;
}
